packages/*
mvvmlight1/mvvmlight1/bin/*
mvvmlight1/mvvmlight1/obj/*
mvvmlight1/mvvmlight1.Droid/bin/*
mvvmlight1/mvvmlight1.Droid/obj/*
mvvmlight1/mvvmlight1.iOS/bin/*
mvvmlight1/mvvmlight1.iOS/obj/*
mvvmlight1/mvvmlight1.WinPhone/bin/*
mvvmlight1/mvvmlight1.WinPhone/obj/*

